#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// Web updater. User and password default to values of MQTT_USERNAME and MQTT_PASSWORD.
// Comment out if not used
//#define WEB_UPDATER_USER ""
//#define WEB_UPDATER_PASSWORD ""

  

// MQTT Broker server ip
#define MQTT_BROKER_IP "192.168.1.1"

// Broker username. Comment out if not used
// #define MQTT_USERNAME "your_username"
 
// Broker password. Comment out if not used
// #define MQTT_PASSWORD "your_username"

// Client name that uniquely identify your device
#define MQTT_CLIENT ""

// The MQTT port, default is 1883
#define MQTT_PORT 1883


